/*
@font-face {
  font-family: 'Molle-Cursive';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/molle-v7-latin-italic.eot');
  src: local('Molle-Cursive'),
       url('fonts/molle-v7-latin-italic.eot?#iefix') format('embedded-opentype'),
       url('fonts/molle-v7-latin-italic.woff2') format('woff2'),
       url('fonts/molle-v7-latin-italic.woff') format('woff'),
       url('fonts/molle-v7-latin-italic.ttf') format('truetype'),
       url('fonts/molle-v7-latin-italic.svg#Molle') format('svg');
} */