html, body {
  min-height: 100%
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fade-in {
  opacity: 0;
  transition: 1s;
}

.fade-in.active {
  opacity: 1;
  transition: 1s;
}

.gradient-reverse {
  background-image: linear-gradient(120deg, #8fd3f4 0%, #84fab0 100%);
}

.masonry { /* Masonry container */
  column-count: 4;
  column-gap: 1em;
}

@media (max-width: 990px) {
  .masonry { column-count: 3; }
}

@media (max-width: 768px) {
  .masonry { column-count: 2; }
}

@media (max-width: 480px) {
  .masonry { column-count: 1; }
}

.masonry-item { /* Masonry bricks or child elements */
  /* background-color: #eee; */
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.masonry-item img {
  width: 100%;
}

.dropdown {
  background: rgba(255,255,255,1);
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  max-height: 38vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 480px) {
  .dropdown {
    grid-template-columns: 1fr 1fr;
  }
}